# NPM
/**/package-lock.json
/**/node_modules/
/**/aero-proxy-*.tgz
/**/aero-sandbox-*.tgz
## For NixOS
mutable_node_modules
# Deno
/**/deno.lock

.VSCodeCounter/

# Swap
## VIM
/**/*.swp

# Builds
/**/dist/
/AeroSandbox/types/webidlDist/
/tests/aero

# aero
# aero dev server
dev-server/
# aero.sh
site/
# aero test pkgs
/**/testPkgs/

# Checkouts (usually for tests)
/**/checkouts/

# Unreleased features (Not finished) 👀

# MacOS
/**/*.DS_Store
