---
import BaseLayout from "@/layouts/Base.astro";

// import { VictoryBar, VictoryChart, VictoryTheme } from "victory";
// @see https://commerce.nearform.com/open-source/victory/docs/introduction/ssr
---

<BaseLayout title="Test results and Benchmarks">
  <p>This page is currently under construction</p>
  <!-- TODO: Each of these will have their own components involved -->
  <!-- TODO: Use Octokit to get the latest benchmark results from the GitHub Action corresponding to the commit selected in the commit dropdown in whatever branch is chosen by the branch dropdown (either `main` or `unstable` will be allowed) ->
  <!-- TODO: Use Octokit to get the latest WPT-diff test results from the GitHub Action corresponding to the commit selected in the commit dropdown in whatever branch is chosen by the branch dropdown-->
  <!-- TODO: Use Octokit to get the latest Systems Test results from the GitHub Action corresponding to the commit selected in the commit dropdown in whatever branch is chosen by the branch dropdown-->
  <!-- TODO: Use Octokit to get the latest unit test results from the GitHub Action corresponding to the commit selected in the commit dropdown in whatever branch is chosen by the branch dropdown-->
</BaseLayout>

